
<head> </head>
<style type="text/css">
.shadow {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
  font-size: 80%;
}

th {
  font-size: 85%;
}

.calign{
    text-align:center;

}
  .ralign{
    text-align:right;

  }
.mdwrap{
	width:6%
}

.smwrap1{
	width:15%
}

.smwrap2{
  width:18%
}

.smwrap3{
  width:20%
}

.cred{
    color:red;
  }
#mthltable td {
	 font-size: 75%;
	 padding: 4 !important;
	 margin: 4 !important;
     }

     #mthltable th {
	 font-size: 85%;
     }

     .card-view .title {
	 font-weight: bold;
	 display: inline-block;
	 min-width: 30%;
	 text-align: left !important;
     }

     #mthltable tbody {
	 display:block;
	 
	 overflow-y:scroll;
     }
     #mthltable thead,#mthltable tbody tr {
	 display:table;
	 width:100%;
	 table-layout:fixed;
     }
     #mthltable thead {
	 width: calc( 99.01% );
     }
     #bgttableouterdiv{
       overflow-x:auto;
       overflow-y:auto;
   }
   #mthltable {
       min-width: 1200;
       min-height: 600;
   }
   .btn {
       margin-bottom:5px !important;
       margin-left:5px !important;
   }
</style>
<body>
  <div class="row"><center>
    {% if btype == '3' %}
    <h4> <b>Cash Budget Report </b> </h4></center>
    {% else %}
    <h4> <b id="profitlossname"></b> </h4></center>
    {% endif %}

    <!-- <div class = "panel"> -->
        <div class=""><center>
             <strong id="budgetdetails" style="text-align: center;"> {{budgetdetail}} </strong></center>
        </div>
        <!-- <div class="panel-body"> -->
        {%if btype == '3'%}
        <div class="" id="bgttableouterdiv">
          <table id="mthltable" class="shadow table table-bordered table-condensed ">
            <thead class="bg-primary">
			    <tr>
			      <th  class="smwrap text-center">{% trans %}Particulars {% endtrans %} </th>
			      <th  class="taxwrap text-center sgstfield">{% trans %}Budgeted{% endtrans %}</th>
			      <th  class="taxwrap text-center sgstfield">{% trans %}Actuals{% endtrans %}</th>
			      <th  class="taxwrap text-center igstfield">{% trans %}Variance{% endtrans %}</th>
                  <th  class="taxwrap text-center igstfield">{% trans %}Variance(%){% endtrans %}</th>
			    </tr>
			  </thead>
            <tbody>
                <tr>
                    <td> <font size='2' >Opening </font>
                    <br><div style="text-align:right">
                        {% for i in gkresult["openingacc"]%}
                            <i>{{i["accountname"]}}</i><br>
                        {% endfor %}
                        </div>
                    </td>
                    
                    <td style="text-align:right"><br>
                        {% for i in gkresult["openingacc"]%}
                            {{i["balance"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["openingacc"]%}
                            {{i["balance"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["openingacc"]%}
                            - <br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["openingacc"]%}
                            - <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right"> <font size='2' >Total</font>
                    </td>
                    <td style="text-align:right"> {{gkresult["opening"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["opening"]}}
                    </td>
                    <td style="text-align:right"> -
                    </td>
                    <td style="text-align:right"> -
                    </td>
                </tr>
                <tr>
                    <td><font size='2' > Inflow </font>
                    <br><div style="text-align:right">
                        {% for i in gkresult["inflow"]%}
                            <i>{{i["accountname"]}}</i><br>
                        {% endfor %}
                        </div>
                    </td>
                    
                    <td style="text-align:right"><br>
                        {% for i in gkresult["inflow"]%}
                            {{i["budget"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["inflow"]%}
                            {{i["actual"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["inflow"]%}
                            {{i["var"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["inflow"]%}
                            {% if i["varinpercent"] == '-' %}
                            {{i["varinpercent"]}} <br>
                            {% else %}
                            {{i["varinpercent"]}} % <br>
                            {%endif%} 
                        {% endfor %}
                    </td>

                </tr>
                <tr>
                    <td style="text-align:right"> <font size='2' >Total</font>
                    </td>
                    <td style="text-align:right"> {{gkresult["budgetin"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["actualin"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["varin"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["varpercentin"]}} %
                    </td>
                </tr>
                <tr>
                    <td> <font size='2' >Outflow</font>
                    <br><div style="text-align:right">
                        {% for i in gkresult["outflow"]%}
                            <i>{{i["accountname"]}}</i><br>
                        {% endfor %}
                        </div>
                    </td>
                    
                    <td style="text-align:right"><br>
                        {% for i in gkresult["outflow"]%}
                            {{i["budget"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["outflow"]%}
                            {{i["actual"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["outflow"]%}
                            {{i["var"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["outflow"]%}
                            {% if i["varinpercent"] == '-' %}
                            {{i["varinpercent"]}} <br>
                            {% else %}
                            {{i["varinpercent"]}} % <br>
                            {%endif%}
                        {% endfor %}
                    </td>
                </tr>
                <tr >
                    <td style="text-align:right"> <font size='2' >Total</font>
                    </td>
                    <td style="text-align:right"> {{gkresult["budgetout"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["actualout"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["varout"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["varpercentout"]}} %
                    </td>
                </tr>
                <tr>
                    <td> <font size='2' >Closing</font>
                    <br><div style="text-align:right">
                        {% for i in gkresult["closing"]%}
                            <i>{{i["accountname"]}}</i><br>
                        {% endfor %}
                        </div>
                    </td>
                    
                    <td style="text-align:right"><br>
                        {% for i in gkresult["closing"]%}
                            {{i["budget"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["closing"]%}
                            {{i["balance"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["closing"]%}
                            {{i["var"]}} <br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["closing"]%}
                            {% if i["varinpercent"] == '-' %}
                            {{i["varinpercent"]}} <br>
                            {% else %}
                            {{i["varinpercent"]}} % <br>
                            {%endif%}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
          </table>
        </div>    
            {% else %}
            
            <div class="table-responsive">
                <table id="mthltable" class="shadow table table-bordered table-condensed tabledesign">
                  <thead class="bg-primary">
                <tr>
                  <th  class="smwrap text-center">{% trans %}Particulars {% endtrans %} </th>
                  <th  class="taxwrap text-center sgstfield">{% trans %}Budgeted {% endtrans %}</th>
                  <th  class="taxwrap text-center sgstfield">{% trans %}Actuals {% endtrans %}</th>
                  <th  class="taxwrap text-center igstfield">{% trans %}Variance{% endtrans %}</th>
                  <th  class="taxwrap text-center igstfield">{% trans %}Variance(%){% endtrans %}</th>
                </tr>
                  </thead>
                <tbody>
                    <tr>
                        <td >
                       <font size='2' >Income </font> <br>
                        <div style="text-align:right">
                            {% for i in gkresult["incomeacc"] %}
                                <i>{{i["name"]}}</i> <br>
                            {% endfor %}
                        </div>
                        </td>
                        <td style="text-align:right"> <br>
                            {% for i in gkresult["incomeacc"] %}
                                {{i["budget"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["incomeacc"] %}
                                {{i["actual"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["incomeacc"] %}
                                {{i["var"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["incomeacc"] %}
                                {% if i["varinpercent"] == '-' %}
                                    {{i["varinpercent"]}} <br>
                                {% else %}
                                    {{i["varinpercent"]}} % <br>
                                {%endif%}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr style="text-align:right">
                        <td style="text-align:right">
                        <font size='2' >Total</font>
                        </td>
                        <td> {{gkresult["budgetincome"] }}
                        </td>
                        <td> {{gkresult["income"] }}
                        </td>
                        <td> {{gkresult["varincome"] }}
                        </td>
                        <td> {{gkresult["varinpercentincome"] }} %
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <font size='2' >Expenses </font> <br>
                        <div style="text-align:right">
                            {% for i in gkresult["expenseacc"] %}
                                <i>{{i["name"]}}</i> <br>
                            {% endfor %}
                        </div>
                        </td>
                        <td style="text-align:right"> <br>
                            {% for i in gkresult["expenseacc"] %}
                                {{i["budget"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["expenseacc"] %}
                                {{i["actual"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["expenseacc"] %}
                                {{i["var"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["expenseacc"] %}
                                {% if i["varinpercent"] == '-' %}
                                    {{i["varinpercent"]}} <br>
                                {% else %}
                                    {{i["varinpercent"]}} % <br>
                                {%endif%}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr style="text-align:right">
                        <td style="text-align:right">
                        <font size='2' >Total</font>
                        </td>
                        <td> {{gkresult["budgetexpense"] }}
                        </td>
                        <td> {{gkresult["expense"] }}
                        </td>
                        <td> {{gkresult["varexpense"] }}
                        </td>
                        <td> {{gkresult["varinpercentexp"] }} %
                        </td>
                    </tr>
                    <tr style="text-align:right">
                        <td style="text-align:left"><font size='2' >Net Profit</font>
                        </td>
                        <td> {{gkresult["budgetprofit"]}}
                        </td>
                        <td> {{gkresult["profit"]}}
                        </td>
                        <td> {{gkresult["varprofit"]}}
                        </td>
                        <td> {%if gkresult["varinpercentprofit"] == '-' %}
                                {{gkresult["varinpercentprofit"]}} 
                            {% else %}
                                {{gkresult["varinpercentprofit"]}} %
                                {%  endif %}
                        </td>
                    </tr>
                </tbody>
                </table>
                </div>
            
            {%endif%}
        <!-- </div> -->
        <!-- </div> -->
        </div>   
      </div>
      <center>
        <button type="button" class="btn btn-sm btn-danger " id="back" name="back" accesskey="b"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}<u>B</u>ack{% endtrans %}</button>
        <button class="btn btn-sm btn-primary" type="button"  id="spreadsheet" accesskey="x">{% trans %}<i class="fa fa-file-excel-o" aria-hidden="true"></i> E<u>x</u>port to Spreadsheet{% endtrans %}</button>    
        <button type="button" class="btn btn-sm btn-info" id="printversion" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> View Prin<u>t</u>able Version{% endtrans %}</button>      
      </center>
      
    </div>
    <input type="hidden" id="btype" value="{{btype }}">
    <input type="hidden" id="budid" value="{{ budid }}">
    <input type="hidden" id="menuflag" value="{{ menuflag }}">
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/budgetreport.js')}}"></script>
</body> 