<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% trans %}GNUKhata{% endtrans %} | {{projectname}} {% trans %}Statement{% endtrans %}</title>

    <style type="text/css">
     .shadow {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     #latable td {
	 font-size: 75%;
	 padding: 4 !important;
	 margin: 4 !important;
     }

     #latable th {
	 font-size: 85%;
     }

     .smwrap{
	 width:4.9%
     }

     .calign{
	 text-align:center;
     }

     .card-view .title {
	 font-weight: bold;
	 display: inline-block;
	 min-width: 30%;
	 text-align: left !important;
     }

     #latable tbody {
	 display:block;
	 height: calc(69vh);
	 overflow-y:scroll;
     }
     #latable thead,#latable tbody tr {
	 display:table;
	 width:100%;
	 table-layout:fixed;
     }
     #latable thead {
	 width: calc( 99.1%);
     }
     #acctableouterdiv{
       overflow-x:auto;
       overflow-y:auto;
   }
   #latable {
       min-width: 1200;
       min-height: 600;
   }
   .btn {
       margin-bottom:5px !important;
       margin-left:5px !important;
   }


    </style>
  </head>
  <body>
    <div class="col-xs-10 nopadding">
    <input type="hidden" id="calculateto" name="calculateto" value="{{to}}"></input>
    <span id="titlehide" style="margin:auto; display:table; text-align: center; font-size:120%;"><strong>{% trans %}List of Accounts{% endtrans %}</strong></h3> </span>
    </div>
    <div class="float-right input-group input-group-sm" style="margin-bottom:2px;">
      <span class="input-group-addon glyphicon glyphicon-search" id="reportsearchspan">
      </span>
      <input id="reportsearch" class="form-control" type="text" accesskey="s" placeholder="{% trans %}Quick Search{% endtrans %}"/>
      <span class="input-group-addon glyphicon glyphicon-arrow-left" id="reportclearsearchspan" style="display:none;">
      </span>
      <span class="input-group-addon" ><i class="fa fa-question-circle" style="font-size:16px;color:black;"data-toggle="modal" data-target="#LaModal"></i></span>
    </div>

    <div class="row" id="acctableouterdiv">
      <table id="latable" class="table shadow table-bordered">
	<thead class="bg-primary">
          <tr>
            <th class="col-xs-1 smwrap" >
              {% trans %}Sr.No.{% endtrans %}
            </th>
            <th class="col-xs-3" >
              {% trans %}Account Name{% endtrans %}
            </th>
            <th class="col-xs-3" >
              {% trans %}Group Name{% endtrans %}
            </th>
            <th class="col-xs-3" >
              {% trans %}Sub-Group Name{% endtrans %}
            </th>
            <th class="col-xs-2" >
              {% trans %}Default A/C for{% endtrans %}
            </th>
          </tr>
	</thead>
	<tbody>

          {% for record in gkresult %}
            <tr	value="{{record["accountcode"]}}">
              <td class="col-xs-1 smwrap calign" >
		{{record["srno"]}}
              </td>
              <td class="col-xs-3">
		{{record["accountname"]}}
              </td>
              <td class="col-xs-3" >


		{{record["groupname"]}}
              </td>
              <td class="col-xs-3">
		{{record["subgroupname"]}}
              </td>
              <td class="col-xs-2">
                {{record["defaultflag"]}}
              </td>
            </tr>
          {% endfor %}

	</tbody>
      </table>
      <span style="margin:auto; display:table;">
	<nbsp><nbsp>
      <button id="report_back" class="btn btn-danger btn-sm" accesskey="e">{% trans %}<u>B</u>ack{% endtrans %}</button>
	  {# <button type="button" id="backbutton" accesskey="k" class="btn btn-sm btn-danger"  style="display: none"hidden>Bac<u>k</u></button> #}
	  <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">{% trans %}<i class="fa fa-file-excel-o" aria-hidden="true"></i> E<u>x</u>port to Spreadsheet{% endtrans %}</button>
          <button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> View Prin<u>t</u>able Version{% endtrans %}</button>
      </span>
    </div>

    <div id="LaModal"  tabindex="-1" class="modal fade" role="dialog"style="width:650px; margin-top: 150px; margin-left:300px;"  aria-hidden="true">
      <div class="modal-dialog bgcolor " >
   	<div class="modal-content ">
    	  <div class="modal-header">
      	    {% trans %}<strong>Help!</strong>{% endtrans %}
   	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> </div>
	  <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

	    <p>   <font color=" #566573"> {%trans%}
	      This report displays in an alphabetical order a list of accounts with Group and Sub-Group names. </br>
{% endtrans %} </font>

            </p>
	  </div>

	</div>
      </div>
    </div>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/listofaccounts.js')}}"></script>

</body>
</html>
